<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <aop:config>
        <aop:pointcut id="transactionPointcut" expression="execution(* *..*ServiceImpl.upgrade*(..))"/>
        <aop:advisor advice-ref="transactionAdvice" pointcut-ref="transactionPointcut"/>
    </aop:config>

    <bean id="connectionMaker" class="springbook.user.dao.NConnectionMaker"/>

    <bean id="userDao" class="springbook.user.dao.UserDaoJdbc">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/toby?characterEncoding=UTF-8"/>
        <property name="username" value="root"/>
        <property name="password" value="star0826"/>
    </bean>

    <bean id="jdbcContext" class="springbook.user.dao.JdbcContext">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="userDaoJdbcContext" class="springbook.user.dao.UserDaoJdbcContext">
        <property name="jdbcContext" ref="dataSource" />
    </bean>

    <!--
    <bean id="userService" class="springbook.user.service.UserServiceTx">
        <property name="userService" ref="userServiceImpl" />
        <property name="transactionManager" ref="transactionManager" />
    </bean>
    -->
    <!--
    <bean id="userService" class="springbook.user.service.TxProxyFactoryBean">
        <property name="target" ref="userServiceImpl" />
        <property name="transactionManager" ref="transactionManager"/>
        <property name="pattern" value="upgradeLevels"/>
        <property name="serviceInterface" value="springbook.user.service.UserService"/>
    </bean>
    -->
<!--    <bean id="userService" class="org.springframework.aop.framework.ProxyFactoryBean">-->
<!--        <property name="target" ref="userServiceImpl" />-->
<!--        <property name="interceptorNames">-->
<!--            <list>-->
<!--                <value>transactionAdvisor</value>-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->

    <bean id="userService" class="springbook.user.service.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="mailSender" ref="mailSender"/>
    </bean>

<!--    <bean id="transactionPointcut" class="org.springframework.aop.aspectj.AspectJExpressionPointcut">-->
<!--        <property name="expression" value="execution(* *..*ServiceImpl.upgrade*(..)))"/>-->
<!--    </bean>-->


    <bean id="userServiceImpl" class="springbook.user.service.UserServiceImpl">
        <property name="userDao" ref="userDao" />
        <property name="mailSender" ref="mailSender" />
    </bean>


    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="mail.server.com" />
    </bean>

    <bean id="transactionAdvice" class="springbook.user.service.TranscationAdvice">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

<!--    <bean id="transactionPointcut" class="org.springframework.aop.support.NameMatchMethodPointcut">-->
<!--        <property name="mappedName" value="upgrade*"/>-->
<!--    </bean>-->

<!--    <bean id="transactionPointcut" class="springbook.user.service.NameMatchClassMethodPointcut">-->
<!--        <property name="mappedClassName" value="*ServiceImpl"/>-->
<!--        <property name="mappedName" value="upgrade*"/>-->
<!--    </bean>-->

<!--    <bean id="transactionAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">-->
<!--        <property name="advice" ref="transactionAdvice"/>-->
<!--        <property name="pointcut" ref="transactionPointcut"/>-->
<!--    </bean>-->

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />



</beans>
